.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index: 3;
    background-color: rgb(252, 255, 255);
    border-radius: 100px;
    margin-left:160px;
  }
  
  .logo {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
  }
  
  .contact-btn {
    background-color: black;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 160px;
    border-radius: 20px;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menuitem {
    font-weight: bold;
    color: black;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menuitem:hover {
    color: rgb(0, 0, 0);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(0, 0, 0);
    font-weight: bold;
  }
  
  .menubar {
    position: absolute;
    top: 5rem; /* Adjusted for better positioning */
    right: 2rem;
    z-index: 2;
    display: none;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    border-radius: 1rem;
  }
  
  .item {
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(219, 219, 228);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mb {
    display: none;
    height: 6rem;
    width: 6rem;
  }
  
  @media screen and (max-width: 768px) {
    .menu {
      display: none;
    }
  
    .mb {
      display: block;
    }
  
    .menubar {
      top: 5rem; /* Adjusted for better positioning */
      right: 1rem; /* Adjusted for better positioning */
      display: flex;
    }
  
    .item {
      width: 100%; /* Adjusted for full-width items in mobile menu */
    }
  }
  


